body {
    margin: 0;
}
header {
    padding-top: 60px;
    padding-bottom: 120px;
    padding-left: 60px;
    background-color: azure;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
   
}
i { 
    padding-right: 1rem;
}

nav {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: green;
    font-size: 1.5rem;
}

nav a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: azure;
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(56, 122, 180);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}
    
.first{
    margin-left: 3rem;
}
.navi-tile {
    width: 191px;
    height: 87px;
   margin-left: 3rem;
    
    background: #D9D9D9;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

